* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}

h1 {
    padding-top: 40px;
    color:  rgb(125, 149, 255);
}

#counter {
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-color: blue;
    border-radius: 6px;
}

#btn1 {
    padding: 4px;
    margin-top: 7px;
    width: 100px;
    background-color: rgb(125, 149, 255);
    border: 1px solid blue;
    border-radius: 10px;
    color: white;
}

#btn1:active {
    background-color: blue;
}