* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    overflow: hidden;
    background: url(https://i.pinimg.com/736x/26/f9/b6/26f9b63125e34c79c089a5b3dab67d4f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    width: 500px;
    height: fit-content;
    box-shadow: 10px 10px 10px rgb(0, 0, 0), inset 12px 12px 100px white, 0px 0px 100px 100px hsla(0, 0%, 0%, 0.274);
}

#numContainer {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}

.btn {
    padding: 2px;
    height: 50px;
    border: 1px solid #afafaf;
    border-radius: 15px;
    cursor: pointer;
}

#input {
    border-radius: 10px;
    border: 1px solid #afafaf;
    width: 492px;
    margin-bottom: 7px;
    height: 100px;
    font-size: 50px;
    text-align: right;
    overflow: hidden;
    cursor: default;
}

#input:focus {
    outline: none;
}