body,
.container {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.orbit {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px 1px 0px 0px;
  border-color: white transparent transparent transparent;
  padding: 294px;
  rotate: 228deg;
  animation: rotation 40s linear infinite;
}

.sun,
.earth,
.moon {
  position: absolute;
}

.container .sun {
  background: yellow;
  box-shadow: 0 0 30px yellow;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: rotation 40s linear infinite;
}

.container .earth {
  right: 321px;
  height: 45px;
  width: 45px;
  background: lightblue;
  border-radius: 50%;
  animation: rotation 10s linear infinite;
}

.container .earth .moon {
  left: 5em;
  padding: 10px;
  background: silver;
  border-radius: 50%;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
